<!-- Header -->
<header class="py-5 mb-5" style="background-image: url('images/janmayen-big.JPG'); background-position: bottom center;"><!-- bg-primary -->
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">
          Humphreys lab @ NIOZ Texel
        </h1>
        <p class="lead mb-5 text-white-50">
          We study the marine carbon cycle in the changing ocean.
        </p>
      </div>
    </div>
  </div>
</header>
