<div class='col-12 mb-3'>
  <div class='card border-0 shadow'>
    <div class="row no-gutters">
      {%- if person.image -%}
      <div class="col-12 col-md-3 text-center">
        <img src="{{ person.image }}" class="img-fluid rounded-circle" style="max-height: 200px; margin: 10px;" alt="" />
      </div>
      <div class="col-12 col-md-9">
      {%- else -%}
      <div class="col-auto">
      {%- endif -%}
        <div class="card-body">
          <h5 class="card-title">
            {{ person.name }}
          </h5>
          <p class="card-text">
            {{ person.blurb }}
          </p>
          {%- if person.twitter -%}
          <a href="https://twitter.com/{{ person.twitter }}" class="btn btn-outline-info btn-sm" style="margin: 2px;" target="_blank">@{{ person.twitter }} &raquo;</a>
          {%- endif -%}
          {%- if person.mastodon -%}
          <a href="https://{{ person.mastodon_server }}/@{{ person.mastodon }}" class="btn btn-outline-info btn-sm" style="margin: 2px;" target="_blank">@{{ person.mastodon }}@{{ person.mastodon_server }} &raquo;</a>
          {%- endif -%}
          {%- if person.scholar -%}
          <a href="https://scholar.google.com/citations?user={{ person.scholar }}" class="btn btn-outline-success btn-sm" style="margin: 2px;" target="_blank">Google Scholar &raquo;</a>
          {%- endif -%}
          {%- if person.nioz -%}
          <a href="{{ person.nioz }}" class="btn btn-outline-secondary btn-sm" style="margin: 2px;" target="_blank">NIOZ profile &raquo;</a>
          {%- endif -%}
          {%- if person.linkedin -%}
          <a href="https://www.linkedin.com/in/{{ person.linkedin }}/" class="btn btn-outline-primary btn-sm" style="margin: 2px;" target="_blank">LinkedIn &raquo;</a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
