<div class='col-12 mb-3'>
  <div class='card border-0 shadow'>
    <div class="row no-gutters">
      {%- if person.image -%}
      <div class="col-12 col-md-3 text-center">
        <img src="{{ paper.image }}" class="img-fluid" style="max-height: 200px;" alt="" />
      </div>
      <div class="col-12 col-md-9">
      {%- else -%}
      <div class="col-auto">
      {%- endif -%}
        <div class="card-body">
          <h5 class="card-title">
            {{ person.name }}
          </h5>
          <p class="card-text">
            {{ person.blurb }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
