<div class="col-md-4 mb-5">
  <h2>NIOZ Texel</h2>
    <hr />
    We are part of the <a href='https://www.nioz.nl/en/about/ocs'>Department of Ocean Systems (OCS)</a>, based at the <a href='https://www.nioz.nl/en'>NIOZ Royal Netherlands Insitute for Sea Research</a> site on the beautiful Wadden island of <a href='https://www.texel.net/en/see-and-do/'>Texel</a>.
  <!--<hr />
  <address>
    <strong>Start Bootstrap</strong>
    <br />3481 Melrose Place <br />Beverly Hills, CA 90210
    <br />
  </address>
  <address>
    <abbr title="Phone">P:</abbr>
    (123) 456-7890
    <br />
    <abbr title="Email">E:</abbr>
    <a href="mailto:#">name@example.com</a>
  </address>-->
</div>
