<div class='col-12 mb-3'>
  <div class='card border-0 shadow'>
    <div class="row no-gutters">
      {%- if program.image -%}
      <div class="col-12 col-md-3 text-center">
        <img src="{{ program.image }}" class="img-fluid" style="max-height: 200px;" alt="" />
      </div>
      <div class="col-12 col-md-9">
      {%- else -%}
      <div class="col-auto">
      {%- endif -%}
        <div class="card-body">
          <h5 class="card-title">
            {{ program.title }}
          </h5>
          <p class="card-text">
            {{ program.description }}
          </p>
          {%- if program.doi -%}
          <a class="btn btn-outline-primary btn-sm" href="https://doi.org/{{ program.doi }}" target="_blank">doi:{{ program.doi }}</a>
          {%- endif -%}
          {%- if program.github -%}

          <a class="btn btn-outline-dark btn-sm" href="https://github.com/{{ program.github }}" target="_blank">GitHub ({{ program.github }}) »</a>
          {%- endif -%}
          {%- if program.docs -%}
          
          <a class="btn btn-outline-info btn-sm" href="{{ program.docs }}" target="_blank">Documentation »</a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
